.heading{
    display : flex;
    width : 500;
    height : 100;
    justify-content : center;
background-color: turquoise;
}
table{
    width:100%;
}
th,td{
 
    height:60px;
    text-align:center;
    vertical-align:center;
}
table,th,td{
    border : 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
   
}
 td{
    color:#000000;
}
.Maths{
   backgroundColor:#ffffff
}

.Geography{
   backgroundColor:#ffffff
}

.History{
  backgroundColor:#ffffff
}

.Physics{
  backgroundColor:#ffffff
}

.Biology{
   backgroundColor:#ffffff
}

.Computer{
    backgroundColor:#ffffff
}

.Hindi{
   backgroundColor:#ffffff
}

.English{
   backgroundColor:#ffffff
}
.Chemistry{
   backgroundColor:#ffffff
}
.PAC{
   backgroundColor:#ffffff
}
.VED{
   backgroundColor:#ffffff
}
